body {
    background-color: white;
    font-family: 'Roboto';
    padding-left: 300px;
    padding-right: 300px;
  }


  /* PREMIER BLOC FREEBOX */
#freebox {
    position: relative;
    padding: 50px;
    width: 500px;
}

#freebox-text {
    position: relative;
    padding: 50px;
    width: 500px;
}

#first-box {
    font-size: 16px;
    max-width: 100%;
    text-align: justify;
    background-color: #ECECEC;
}

#bouton {
    background-color: red;
    color:white;
    font-size: 20px;
    font-weight: bold;
    height: 30px;
    width:200px;
    border-radius: 30px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    display: block;
    padding:10PX;
}


  /* FORMULAIRE */
  
.password {
    padding: 10px;
}


form{
    font-size: 16px;
    background-color: white;
    border-radius: 10px;
    text-align:center;
    padding: 30px;
    width: 400px;
    box-shadow: black 20px;
}
