body {
    background-color: white;
    font-family: 'Avenir';
    padding-left: 300px;
    padding-right: 300px;
  }

  .grand-texte {
      font-size: 60px;
      font-weight: bold;
      margin:
  }

#navigation ul {
    column-count: 4;
    width: 800px;
    display: inline-block;
    list-style:none;
    font-size: 20px;
    padding: 10px;
}

#navigation li {
    margin-left:10px;
}

a {
    text-decoration: none;
    color:black;
}

a:hover {
    color:red;
    font-weight:bold;
}

#navigation {

}
  /* PREMIER BLOC FREEBOX */

#first-box {
    text-align: justify;
    background-color: #ECECEC;
    padding : 100px;
    display:inline-flex;
    width: 1100px;

}

.freebox-formulaire {
    width: 300px;
    height: 200px;
    padding: 30px;
}

.freebox-text {
width: 700px;
margin-right:100px;
}

#bouton {
    background-color: red;
    color:white;
    font-size: 20px;
    font-weight: bold;
    height: 30px;
    width:200px;
    border-radius: 30px;
    text-align: center;
    padding:10px;
}




  /* FORMULAIRE */
  
#email {
    padding: 10px;
    margin: 20px;
}

#password {
    padding: 10px;
    margin: 20px;
}

form{
    font-size: 16px;
    background-color: white;
    border-radius: 10px;
    text-align:center;
    padding: 30px;
    width: 80%;
    box-shadow: 1px 1px 5px rgb(173, 173, 173);
}




  /* BLOC NETFLIX */


#netflix-box {
    width: 1100px;
    text-align: justify;
    background-color:black;
    padding : 100px;
    display:inline-flex;
}

.netflix-text {
    width: 500px;
    margin-right:100px;
    color:white
    }